@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";

html,
body {
  background-color: white;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100%;
  margin: 0;
}

#container {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.m-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}

.m-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.login {
  margin: auto;
  max-width: 356px;
  padding: 32px 64px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.w-header {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.w-top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.w-content {
  text-align: center;
  width: 100%;
}

.w-title {
  font-size: 84px;
  margin-bottom: 30px;
}

.w-links {
  padding: unset;
}

.w-links-li > a {
  padding: 0 2px;
}

.w-icons {
  width: 32px;
}

.w-links-li {
  display: inline-block;
}

.w-links-p {
  height: 54px;
  width: 54px;
  margin: 6px;
  padding: unset;
  border-radius: 27px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-links-p > a {
  display: inline-block;
}

.blog-nav {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
}

.nav-brand {
  float: left;
  padding: 14px 15px;
  font-size: 18px;
  line-height: 22px;
  height: 50px;
}

.nav-brand > a {
  color: white;
  text-decoration: unset;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
  margin: auto;
}

.nav-list > li > a {
  color: white;
  text-decoration: unset;
}

/*文章Cards*/

.blog-row {
  display: block;
}

.blog-col {
  margin: 0 auto;
}

.blog-card {
  position: relative;
  margin-bottom: 24px;
}

.blog-card-cover {
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.blog-card-bottom {
  position: absolute;
  z-index: 10;
  bottom: 0;
  padding: 10px;
  color: white;
}

.blog-card-date {
  float: right;
}

